---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: build-kaniko
spec:
  params:
    - name: image
      type: string
      description: Full image name including registry
    - name: context
      type: string
      default: .
    - name: dockerfile
      type: string
      default: Dockerfile
  workspaces:
    - name: source
  steps:
    - name: build-and-push
      image: gcr.io/kaniko-project/executor:latest
      args:
        - "--dockerfile=$(workspaces.source.path)/DevOps/$(params.dockerfile)"
        - "--context=$(workspaces.source.path)/DevOps"
        - "--destination=$(params.image)"
        - "--insecure"
        - "--skip-tls-verify"
      env:
        - name: DOCKER_CONFIG
          value: /kaniko/.docker/
