apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: git-clone-local
spec:
  params:
    - name: repo_url
      type: string
  workspaces:
    - name: source
  steps:
    - name: clone
      image: alpine/git
      script: |
        #!/bin/sh
        set -eux
        # 1. ניקוי מוחלט של ה-Workspace
        rm -rf $(workspaces.source.path)/*
        rm -rf $(workspaces.source.path)/.[!.]*

        # 2. ביצוע Clone ישירות לתוך ה-Workspace
        # שים לב לנקודה בסוף - היא קריטית כדי שלא תיווצר תיקיית משנה
        git clone $(params.repo_url) $(workspaces.source.path)/.

        # 3. אימות (Verification) - זה מה שיעזור לנו לדבג
        echo "Check if Dockerfile exists:"
        ls -la $(workspaces.source.path)
