apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: git-clone-local
spec:
  params:
    - name: repo_url
      type: string
      description: Git repository URL
  workspaces:
    - name: source
      description: Workspace where the repo will be cloned
  steps:
    - name: clone
      image: registry.access.redhat.com/ubi9/git
      script: |
        set -eux
        git clone $(params.repo_url) $(workspaces.source.path)

