apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: hello-task
spec:
  workspaces:
    - name: task-workspace
      description: The directory where the files are located
  steps:
    - name: list-files
      image: alpine
      script: |
        #!/bin/sh
        echo "--- Listing content of workspace ---"
        if [ -d "$(workspaces.task-workspace.path)" ]; then
          ls -R $(workspaces.task-workspace.path)
        else
          echo "Workspace path not found!"
          exit 1
        fi
