apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus-sa # החשבון עם הרשאות ה-View שיצרנו
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        args:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--storage.tsdb.path=/tmp/prometheus"
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: config-volume
          mountPath: /etc/prometheus
        - name: storage-volume
          mountPath: /tmp/prometheus
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-config # כאן אנחנו מחברים את ה-ConfigMap שיצרת
      - name: storage-volume
        emptyDir: {}
